<h1>Show Playlist</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @playlist.title %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @playlist.url %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.playlist_path(@conn, :edit, @playlist) %></span>
<span><%= link "Back", to: Routes.playlist_path(@conn, :index) %></span>
